h1 {
  text-align: center;
}

.column > fieldset {
  width: 100%;
  margin: 20px 10px;
}

select {
  margin: 15px;
}

input {
  margin: 10px;
}

.discord-image-wrapper img {
  max-width: 256px;
}

a {
  color: #005485;
  text-decoration: none;
}

a:visited {
  color: #005485;
}

a:hover {
  color: #008020;
}

a:active {
  color: #37CD68;
}
